<% provide(:title, 'Home') %>
<div class="text-center jumbotron">
  <h1>Welcome to FootUp!</h1>
  <h3>Where soccer players can post & join pick-up soccer games with ease.</h3>
  <img src="http://www.sfpix.com/Big_Rec/pickup_pan6.03.jpg"/>
</div>
<div class="text-center jumbotron">
  <h1>How to play!</h1>
  <br/>
  <img src="http://www.free-icons-download.net/images/green-down-arrow-symbols-icons-4037.png"/>
  <br/>
  <h3>Sign up or Sign In!</h3>
  <br/>
      <%= link_to "Sign up", new_user_registration_path, class: "btn btn-large btn-primary" %>
      <%= link_to "Sign in", new_user_session_path, class: "btn btn-large btn-primary" %>
  <br/>
  <br/>
  <img src="http://www.free-icons-download.net/images/green-down-arrow-symbols-icons-4037.png"/>
  <br/>
  <h3>View all the games to join!</h3>
  <h4>Click on a game to view the players that have joined and where it is on the map</h4>
  <br/>
      <%= link_to "Games List", games_path, class: "btn btn-large btn-success" %>
  <br/>
  <br/>
  <img src="http://www.free-icons-download.net/images/green-down-arrow-symbols-icons-4037.png"/>
  <br/>
  <h3>Don't see a game you like? Create a Game!<h3>
  <h4>You'll need a title, location, address, date, and time</h4>
  <br/>
      <%= link_to "Create a Game", new_game_path, class: "btn btn-large btn-success" %>
  <br/>
  <br/>
  <img src="http://www.free-icons-download.net/images/green-down-arrow-symbols-icons-4037.png"/>
  <br/>
  <br/>
  <h3>Play Ball!</h3>
  <br/>
  <img src="https://cdn2.iconfinder.com/data/icons/outdoor-sport/63/football-128.png">
  <h3>Don't forget your sportsmanship and to have fun!</h3>
  <br/>
  </div>
</div>

<div class="text-center">
    <h2><strong>FootUp</strong></h2>
    <h5>by Will Schaefer III</h5>
    <h5>wschaeferiii@gmail.com</h5>
</div>


